<%= @player_1.name %> vs. <%= @player_2.name %><br>
<br>
<%= @player_1.name %>: <%= @player_1.hit_points%>/60hp
<%= @player_2.name %>: <%= @player_2.hit_points%>/60hp
<br>
<br>
<br>
<a href="/attack">Attack</a>
